/* You can add global styles to this file, and also import other style files */
body {
  background-color: #18181b;
  color: #ffffff; /* Optional: white text for contrast */
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
